.chat-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ADADAD;
}
.chat-header .chat-back {
    cursor: pointer;
}
.connection-status .status-disconnected {
    color: red;
}
.connection-status .status-connecting {
    color: yellow;
}
.connection-status .status-connected {
    color: green;
}

.chat-message-container {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 25px;
}
.chat-message-container .chat-message {
    margin-top: 10px;
}

.chat-tools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #ADADAD;
}